body {

    background: url(imagen.jpg);
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background: ;
}

form {
	

	width:300px;
}

h1{
	background-color:;
	right: align;
}